<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">    
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>    

  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as ToBuyList'>
     <h2>To Buy:</h2>
      <ul>
        <li ng-repeat="item in ToBuyList.items">
          Buy {{ item.quantity }} {{ item.name }}
          <button id="buton1" ng-click="ToBuyList.BuyItem($index);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button>
        </li>
      </ul>
     <div ng-if="ToBuyList.items.length == 0" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtController as BoughtList'>
     <h2>Already Bought:</h2>
      <ul>
        <li ng-repeat="item in BoughtList.items">
          Bought {{ item.quantity }} {{ item.name }}          
        </li>
      </ul>
     <div ng-if="BoughtList.items.length == 0" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
